
<div class="container">
    <div class="row mt-2 col-md-3">
        <div class="col">
            <label for="1" class="form-label">Menu</label>
            <input [(ngModel)]="menu" class="form-control" type="text">
        </div>
        <div class="col">
          <label class="form-label" for="2">Sous menu</label>
          <input [(ngModel)]="sousMenu" class="form-control" type="text">
        </div>
    </div>
    <div class="row input-group mt-3">
      <span class="input-group-text">url</span>
      <input [(ngModel)]="url" class="form-control" type="text">
    </div>
    <div class="row mt-3">
      <span class="input-group-text">couleur</span>
      <input [(ngModel)]="color" class="form-control" type="text">
    </div>
</div>